:root {
  --primary-color: #0d2a5c; /* bleu foncé */
  --secondary-color: #4A90E2; /* Film gris semi-transparent */
  --bg-color: #f2f2f2;
  --card-radius: 18px;
  --btn-radius: 999px;
  --shadow: 0 10px 30px rgba(0,0,0,0.08);
  --font-main: Arial, sans-serif;
}

/*==== BARRE HAUT DE PAGE ====*/

.top-bar {
    display: flex;                 /* aligne les éléments horizontalement */
    align-items: center;           /* centre verticalement */
    justify-content: center;       /* centre horizontalement le contenu */
    padding: 20px;            	  /* gauche/droite */
	Padding-top: 15px;     		  /* espace haut*/
	Padding-bottom: 0px;		  /* espace bas*/
    gap: 10px; 
}

/* Lignes gauche et droite */
.top-bar .line {
    flex: 1;                       
    height: 1px;                   /* épaisseur de la ligne */
    background-color: #0d2a5c;     /* couleur du trait */
}

/* Lien central */
.top-link {
    text-decoration: none;         /* enlève soulignement */
    color: #0d2a5c;                /* couleur texte */
    font-weight: standard;         /* texte non gras */    
    white-space: nowrap;           /* empêche retour à la ligne */
    transition: 0.3s;
}

/* Effet au survol */
.top-link:hover {
    color: #0077cc;                /* couleur au survol */
}

/* ===== BASE ===== */
body {
  margin: 0;
  font-family: var(--font-main);
  background: var(--bg-color);
  color: #333;
  }

/* ===== BOUTONS ===== */
button {
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);  /* ombre autour image */
}

/* boutons commencer/recommencer */
.primary-btn{ 
  background: var(--primary-color); /* couleur bouton */
  color: white; /* couleur texte bouton */
  border: none;
  border-radius: var(--btn-radius);
  padding: 12px 30px;
  font-size: 1rem;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
 /* centrage bouton recommencer */
  width: fit-content;
  margin: 20px auto 0;
  display: block;
   }
  
/* boutons réponse */  
.answer-btn {
  background: #e8f0ff;           /* bleu très pâle */
  color: #0d2a5c;                /* texte bleu foncé */
  border: 0px solid #0d2a5c;     /* épaisseur contour bleu foncé */
  border-radius: 11px; /* arrondi des boutons réponse */
  padding: 15px 25px;
  font-size: 1rem;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  }

.primary-btn:hover{
  transform: translateY(-2px);
  box-shadow: var(--shadow);
}
.answer-btn:active {				/* effet sélection bouton réponse */
    transform: scale(0.96);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15) inset; 
}


/* ===== HOME ===== */
.home-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px; 
  gap: 15px;
  }


/* ===== QUIZ ===== */
.quiz-container {
  max-width: 520px;
  margin: auto;
  padding: 10px; /* Espace côtés carte question */
  padding-top: 30px; /* Espace avant carte question */
  Padding-bottom:0px;
}

.question-counter {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.progress {
  height: 8px;
  background: #ddd;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
 }

.progress-bar {
  height: 100%;
  background: var(--primary-color);
  width: 0%;
  transition: width 0.3s ease;
  padding-top:0px;
}

.question-card {
  background: white;
  padding: 30px; /* Espace autour texte question */
  border-radius: var(--card-radius);
  box-shadow: var(--shadow);
  margin-bottom: 10px; /* Espace entre carte et barre progression */
}

.answers {
  display: flex;
  flex-direction: column;
  padding-top: 40px; /* Espace entre question et bouton réponse*/
  gap: 20px; /* Espace entre boutons réponse*/
}

/* ===== RESULT ===== */

.result-card {
  background: white;
  padding: 15px; /* Espace interne carte */
  margin: 15px; /* Espace externe carte */
  padding-top: 10px; /* Espace entre carte et titre */
  padding-bottom: 25px;
  border-radius: var(--card-radius);
  box-shadow: var(--shadow);
  text-align: center;
  margin-bottom: 6vh;
  }
  
  .result-card img {
  max-width: 230px;
  margin: 20px auto;
  margin-bottom: 40px;
  border-radius: var(--card-radius); /* bords photos arrondis */
  display: block;
}
  
  @media(max-height: 650px){
.result-card {
  padding: 15px; /* Espace interne carte */
  margin: 6px; /* Espace externe carte */
  margin-top: 0px; /* Espace externe carte */
  padding-top: 10px; /* Espace entre carte et titre */
  padding-bottom: 15px; /* Espace interne bas carte */
  margin-bottom: 15px;
  }
.result-card img {
  max-width: 180px;
  margin: 15px auto;
  margin-bottom: 30px;
  }
}

/* ===== PAGES ===== */
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.card {
  background: white;
  padding: 25px; /* Espace interne carte */
  border-radius: var(--card-radius);
  box-shadow: var(--shadow);
  max-width: 500px;
  text-align: center;
 }

/* ===== UTIL ===== */
.hidden {
  display: none;
}
